/blog_generation/venv/
/blog_generation/model/llama-2-7b-chat.ggmlv3.q8_0.bin
/blog_generation/.ipynb_checkpoints/
/gemini/.ipynb_checkpoints/
/test_streamlit/.ipynb_checkpoints/
/chat_with_pdfs/venv/
/chat_with_pdfs/faiss_index/
/chat_with_pdfs/.env
/chatbot/venv/
/chatbot/.env